.main{
    margin: 0 auto;
    background: linear-gradient(to bottom,#6441A5,#2a0845);
    width: 100vh;
    height: 700px;
    color: #fff;
    position: relative;
}
.input{
    background: #bbbbbb90;
    border: none;
    text-align:center;
    font-size: 17px;
    width: 220px;
    padding: 18px;
    border-radius: 5px;
    color: #ffffff90;
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    left: 70px;
    margin: 0 auto;
    font-size: 20px;
}
.input:focus{
    outline: none;
}
.btn{
    background: #bbbbbb90;
    border: none;
    text-align:center;
    width: 220px;
    padding: 18px;
    border-radius: 5px;
    color: #ffffff;
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    right: 90px;
    cursor: pointer ;
    transition: .2s ease-in;
    margin: 0 auto;
    font-size: 20px;
}
.input::placeholder{
    color: #ffffff;
    font-size: 20px;
}
.btn:focus{
    outline: none;
    color: #ffffff90;
}

.btn:hover{
    background: #ffffff70;
    transition: .2s ease-in;
}
.city{
    margin-bottom: -20px;
}

.position{
    text-align: center;
    width: 70px;
    margin:0 auto;
    font-size: 25px;
}
.first_row{
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.second_row{
    font-size: 16px;
    margin: 0 auto;
    width:500px;
    display: flex;
    justify-content: space-between;
}
.third_row{
    font-size: 16px;
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.col-md-4{
    background: #bbbbbb90;
    border-radius: 7px;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 5px;
    font-size: 20px;
}
.descr{
    background: #bbbbbb90;
    border-radius: 7px;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 5px;
}
.temp{
    font-size: 29px;
    margin-left: 200px;
}
.after{
    position: absolute;
    top: 90px;
}
.img{
    position: absolute;
    top: 82px;
    left: 240px;

    margin: 10px auto;
}
.error{
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 600px;
    justify-content: center;
}
